<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="{{asset "app/styles/style.css"}}" />

    <link rel="stylesheet" href="{{asset "app/components/highlight.js/src/styles/zenburn.css"}}">

    <script src="{{asset "app/components/modernizr/modernizr.js"}}"></script>
    <script data-main="{{asset "app/scripts/main.js"}}" src="{{asset "app/components/requirejs/require.js"}}"></script>


    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}} nav-closed">


    <div class="site-wrapper">


        {{! Everything else gets inserted here }}
        {{{body}}}

        <!--<footer class="site-footer">
            <a href="#" class="toggle-footer"><span></span></a>
            <section class="copyright"><p>&copy;{{date format="YYYY"}} <a href="http://www.vertic.com">Vertic, Inc.</a> All rights reserved<p></section>
        </footer>-->

    </div>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="{{asset "app/scripts/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "app/scripts/index.js"}}"></script>

</body>
</html>
