{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<header class="main-header">
    <div class="header">
        <img src="{{asset "app/assets/images/ui/logo.png"}}" alt="vertic logo"/>
        <a href="#" class="nav-close btn-burger"><span></span></a>
    </div>
</header>

{{! The main content area on the homepage }}
<main class="application-frame">
   <div class="sitewrap">
        <div class="main-articleswrap">
            {{> "loop"}}
        </div>  
        {{navigation}}
    </div>
    <div id="list"></div>
</main>
