{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<section class="main-slide">
    <article class="{{post_class}}">
        <div class="post-introsnippet">
        <header class="post-header">
            <div class="post-tags">{{tags}}</div>
            <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
        </header>
        <section class="post-excerpt">
            <p>{{excerpt words="20"}}<a class="read-more" href="{{url}}">...</a></p>
        </section>
        </div>
        <div class="post-content">
            <div class="post-content-header">
                <h1>{{{title}}}</h1>
                <p class="post-date">{{date dateToFormat format="DD MMM. YYYY"}}</p>
            </div>
            <p>{{content}}</p>
            <div class="post-content-footer">
                 {{#author}}
                    {{#if image}}<img class="author-image" src="{{image}}" alt="author"/>{{/if}}
                    <h3 class="author-name">{{name}}</h3>
                {{/author}}
            </div>
        </div>
    <div class="post-meta">
        <p>1.241<p>
    </div>
    </article>
</section>
{{/foreach}}