<div class="nav">
    <ul>
       {{#foreach navigation}}
           <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
           <a href="#"><li>Vestas</li></a>
           <a href="#"><li>Bloggin</li></a>
           <a href="#"><li>Bang&Olufsen</li></a>
           <a href="#"><li>Redbull</li></a>
        {{/foreach}}
    </ul>
    <a class="goToVertic" href="http://www.vertic.com">Go to vertic.com</a>
    <span class="nav-cover"></span>
</div>
