
.site-footer {
    position: relative;
    height: 13%;
    background-color: $color-white;
    font-family: $font-regular;
    font-size: 12px;
    color: $color-gray;
    padding: 30px 40px 80px 40px;
    @include box-sizing(border-box);
    
    a,p {
        color: $color-gray;
        font-size: 12px;
        font-weight: 300;
        text-decoration: none;
        
        
        a:hover {
            color: $color-darkgray;
            font-weight: 400;
        }
    }

    .toggle-footer{
        width: 30px;
        height: 30px;
        position: fixed;
        z-index: 500;
        right: 20px;
        bottom: 10px;
        @include rotate(180deg);

        span{
            display: inline-block;
            position: absolute;
            bottom: -2px;
            left: 7px;
            background-color: gray;
            border-radius: 2px;
            width: 2px;
            height: 20px;
            @include rotate(45deg);

            &:after{
                content: "";
                display: inline-block;
                position: absolute;
                bottom: 10px;
                left: 10px;
                background-color: gray;
                border-radius: 2px;
                width: 2px;
                height: 20px;
                @include rotate(-90deg);
            }
        }
    }
}

.copyright {
    display: block;
    width: 100%;
    float: left;
}