/**
* Generic stuff
*
* @section framework
* @author rkalms
*/

.sprite-test {
	width: 200px;
	
	//@include retina-sprite('test', 'general');
}

body, html{
	height: 100%;
}

.application-frame{
	height: 100%;
	@extend %clearfix-after;
}

.site-wrapper {
    position: relative;
    height: 100%;
    overflow: hidden;
    -webkit-transition: -webkit-transform 0.5s ease;
            transition: transform 0.5s ease;
}

h1, h2, h3, h4, h5, h6, p, ul, li, span, a{
	margin: 0;
	font-family: $font-regular;
}

a{
	text-decoration: none;
	color: black;
}
