.main-header{
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0 40px;
    @include box-sizing(border-box);
}

.header{
    padding-top: 30px;
    @include box-sizing(border-box);
}

.btn-burger {
	float: right;
	position: relative;
	z-index: 1001;
	width: 20px;
	height: 20px;
	opacity: 0.9;

	span{
		width: 20px;
		height: 3px;
		background-color: $color-white;
		position: absolute;
		top: 0px;
		left: 0;
	  	@include transition-duration(0.4s);

		&:before{
			content: "";
			display: inline-block;
			width: 20px;
			height: 3px;
			background-color: $color-white;
			position: absolute;
			top: 7px;
			left: 0;
			opacity: 1;
			@include transition-duration(0.4s);
		}

		&:after{
			content: "";
			display: inline-block;
			width: 20px;
			height: 3px;
			background-color: $color-white;
			position: absolute;
			top: 14px;
			left: 0;
			@include transition-duration(0.4s);
		}
	}	
}

.btn-burger-black {
	span, span:before, span:after{
		background-color: $color-black;
	}	
}

.btn-burger-open {
	span{
		top: 10px;
		@include rotate(45deg);

		&:before{
			opacity: 0;
		}

		&:after{
			top: 0px;
			display: inline-block;
			@include rotate(-90deg);
		}
	}	
}