.sitewrap{
	position: relative;
	width: 100%;
	height: 100%;
}

.main-articleswrap{
	position: relative;
	display: inline-block;
	float: left;
	width: 100%;
	height: 100%;
	@extend %clearfix-after;

	&:before {
		content: '';
		position: absolute;
		display: block;
		z-index: 40000;
		top: 0;
		left: 0;
		height: 0;
		opacity:0;
		background-color: rgba(0,0,0,0.6);
		width: 100%;
		opacity: 0;
		@include transition(opacity 0.5s, height 0.1s 0.5s)		
	}
	
	&.overlay:before {
		opacity: 1;
		height: 100%;
		@include transition(opacity 0.5s 0.1s, height 0.1s)		
	}

	>section{
		position: relative;
		z-index: 1;
		list-style-type: none;
		//overflow: hidden;
		height: 100%;
		float: left;
		box-sizing:border-box;
		display: inline-block;
		
		.post {
			background-color: $color-darkgray;	
		}

		&:first-child .post{
			position: relative;
			background-image:url(../assets/images/content/barney.png);
			background-size: cover;

			&:after{
				position: absolute;
				content: "";
				display: inline-block;
				z-index: -1;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: #092140;
				opacity: 0.6;
			}
		}
	
		&:nth-child(2) .post{
			background-color: #f24738;
		}
		&:last-child .post{
			background-color: #bf2a2a;
		}
	}
}


.main-slide{
	position: relative;

	.post{
		//padding: 50px 0 30px 0;
		@include box-sizing(border-box);
		position: relative;
		z-index: 10;
		width: 100%;
		height: 100%;
		@include perspective(500px);
		@include transform-style(preserve-3d);

		&-header{
			position: absolute;
			bottom: 40%;
			padding: 30px 40px 30px 40px;
			@include box-sizing(border-box);
			
			.post-title a{
				font-size: 36px;
				font-weight: 400;
				color: $color-white;
			}

			.post-tags, .post-title{
				width: 230px;
			}
		}

		&-excerpt{
			position: absolute;
			top: 60%;
			padding: 0 40px;
			@include box-sizing(border-box);
			
			p, a{
				width: 230px;
				color: $color-white;
				font-weight: 300;
				opacity: 0.5;
			}
		}


		&-tags, &-tags a{
			color: $color-white;
			font-size: 10px;
			margin-bottom: 15px;
			opacity: 0.5;
			text-transform: uppercase;
		}


		&-meta{
			position: absolute;
			bottom: 30px;
			left: 40px;
			color: $color-white;
			font-weight: 100;
			font-size: 14px;
			opacity: 0.5;

			p{
				margin-left: 10px;

				&:before{
					position: absolute;
					top: -3px;
					left: -20px;
					content: "";
					background-image: url('../assets/images/ui/eye.png');
					width: 24px;
					height: 24px;
					display: inline-block;
				}
			}
		}

		.post-content{
			position: relative;
			background-color: $color-white;
			top: 0;
			right: 0;
			height: 100%;
			width: 70%;
			overflow-x:auto;
			float: right;
			opacity: 0;
			padding: 40px;
			@include box-sizing(border-box);
			
			&-active {
				opacity: 0;
				@include transform(translateX(-50px));
				@include transition(all 0.2s ease);
			}

			p,a,h1,h2,h3,h4,h5,h6,span{
				color: $color-darkgray;
				
				&:first-letter{
					text-transform: uppercase;
				}
			}

			h1{
				margin: 30px 0;

				&:first-child{
					margin-top: 0;
				}
			}

			h2, h3, h4, h5, h6{
				margin: 20px 0 10px 0;
			}

			p{
				margin-bottom: 15px;
				line-height: 23px;

				img, iframe, video{
					float: right;
					max-width: 100%;
				}
			}

			&-header{
				h1{
					margin-bottom: 0;
				}
				
				.post-date{
					font-size: 11px;
					color: $color-gray;	
					text-transform: uppercase;
				}
			}

			&-footer{
				border-top: 1px solid $color-gray;
				margin-top: 10px;
				padding-top: 10px;
				color: $color-gray;

				.author{
					&-image{
						display: inline-block;
						width: 30px;
						height: 30px;
						border-radius: 50%;
					}
					&-name{
						display: inline-block;
						margin-left: 5px;
						@include translateY(-10px);
						color: $color-gray;

						&:first-letter{
							text-transform: lowercase;
						}
					}
				}
			}
		}
	}
}



