.nav{
	position: absolute;
	z-index: 999999;
	display: inline-block;
	float: left;
	right: 0;
	top: 0;
	width: 30%;
	height: 100%;
	background-color: $color-darkgray;
	color: $color-white;
	font-size: 18px;
	padding: 100px 10px 50px 40px;
	@include box-shadow(inset 5px 0px 10px 0px rgba(0, 0, 0, 0.4)); 
	@include box-sizing(border-box);
	@include translateX(100%);


	a{
		color: $color-white;

		&:hover{
			color: $color-gray;
		}
	}

	ul{
		padding: 0;
		margin: 0;

		li{
			list-style-type: none;
			margin: 15px 0;
		}
	}
}

.goToVertic{
	font-size: 14px;
	position: absolute;
	bottom: 20px;
	left: 40px;
}

.nav-cover{
	height: 100%;
	width: 30%;
	background-color: $color-black;
	position: absolute;
	top: 0;
	right: 0;
}