/**
* Main project stylesheet combiner
*
* @section Setup
* @author <fill-me>
*/
/**
* Mixins for browser alignment
*
* @section Framework
* @author echristensen
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_framework\.scss}line{font-family:\000038}}
.main-articleswrap:after, .application-frame:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_framework\.scss}line{font-family:\0000315}}
.ie7 .main-articleswrap, .ie7 .application-frame {
  min-height: 1px;
}

/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\0000311}}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\0000330}}
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\0000341}}
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\0000350}}
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\0000364}}
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\0000374}}
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\0000386}}
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\0000394}}
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003108}}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003117}}
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003125}}
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003134}}
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003142}}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003152}}
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003161}}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003173}}
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003181}}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003189}}
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003197}}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003205}}
sup {
  top: -0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003209}}
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003221}}
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003229}}
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003241}}
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003253}}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003264}}
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003275}}
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003289}}
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003301}}
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003314}}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003326}}
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003336}}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003348}}
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003360}}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003369}}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003380}}
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003393}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
* Base variables and function definitions
*
* @section framework
* @author rkalms
*/
/* grid column size variables */
/*  */
/**
* Grid implementation.
*
* @section framework
* @author rkalms
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_grid\.scss}line{font-family:\000038}}
.grid {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_grid\.scss}line{font-family:\0000312}}
.grid-inner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.625em;
  padding-right: 0.625em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_grid\.scss}line{font-family:\0000319}}
.grid-section {
  overflow: hidden;
  display: block;
  padding: 0;
  margin: 0 -0.625em;
  letter-spacing: -0.31em;
  word-spacing: -0.43em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_grid\.scss}line{font-family:\0000328}}
.grid-cell {
  float: left;
  display: inline-block;
  margin: 0;
  padding: 0 0.625em;
  width: 100%;
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* find width of columns */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_index\.scss}line{font-family:\000031}}
.sitewrap {
  position: relative;
  width: 100%;
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_index\.scss}line{font-family:\000037}}
.main-articleswrap {
  position: relative;
  display: inline-block;
  float: left;
  width: 100%;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_index\.scss}line{font-family:\0000315}}
.main-articleswrap:before {
  content: '';
  position: absolute;
  display: block;
  z-index: 40000;
  top: 0;
  left: 0;
  height: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  opacity: 0;
  -moz-transition: opacity 0.5s, height 0.1s 0.5s;
  -o-transition: opacity 0.5s, height 0.1s 0.5s;
  -webkit-transition: opacity 0.5s, height 0.1s;
  -webkit-transition-delay: 0s, 0.5s;
  transition: opacity 0.5s, height 0.1s 0.5s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_index\.scss}line{font-family:\0000330}}
.main-articleswrap.overlay:before {
  opacity: 1;
  height: 100%;
  -moz-transition: opacity 0.5s 0.1s, height 0.1s;
  -o-transition: opacity 0.5s 0.1s, height 0.1s;
  -webkit-transition: opacity 0.5s, height 0.1s;
  -webkit-transition-delay: 0.1s, 0s;
  transition: opacity 0.5s 0.1s, height 0.1s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_index\.scss}line{font-family:\0000336}}
.main-articleswrap > section {
  position: relative;
  z-index: 1;
  list-style-type: none;
  height: 100%;
  float: left;
  box-sizing: border-box;
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_index\.scss}line{font-family:\0000346}}
.main-articleswrap > section .post {
  background-color: #2e2e2e;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_index\.scss}line{font-family:\0000350}}
.main-articleswrap > section:first-child .post {
  position: relative;
  background-image: url(../assets/images/content/barney.png);
  background-size: cover;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_index\.scss}line{font-family:\0000355}}
.main-articleswrap > section:first-child .post:after {
  position: absolute;
  content: "";
  display: inline-block;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #092140;
  opacity: 0.6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_index\.scss}line{font-family:\0000369}}
.main-articleswrap > section:nth-child(2) .post {
  background-color: #f24738;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_index\.scss}line{font-family:\0000372}}
.main-articleswrap > section:last-child .post {
  background-color: #bf2a2a;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_index\.scss}line{font-family:\0000379}}
.main-slide {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_index\.scss}line{font-family:\0000382}}
.main-slide .post {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  -moz-perspective: 500px;
  -webkit-perspective: 500px;
  perspective: 500px;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_index\.scss}line{font-family:\0000392}}
.main-slide .post-header {
  position: absolute;
  bottom: 40%;
  padding: 30px 40px 30px 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_index\.scss}line{font-family:\0000398}}
.main-slide .post-header .post-title a {
  font-size: 36px;
  font-weight: 400;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_index\.scss}line{font-family:\00003104}}
.main-slide .post-header .post-tags, .main-slide .post-header .post-title {
  width: 230px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_index\.scss}line{font-family:\00003109}}
.main-slide .post-excerpt {
  position: absolute;
  top: 60%;
  padding: 0 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_index\.scss}line{font-family:\00003115}}
.main-slide .post-excerpt p, .main-slide .post-excerpt a {
  width: 230px;
  color: white;
  font-weight: 300;
  opacity: 0.5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_index\.scss}line{font-family:\00003124}}
.main-slide .post-tags, .main-slide .post-tags a {
  color: white;
  font-size: 10px;
  margin-bottom: 15px;
  opacity: 0.5;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_index\.scss}line{font-family:\00003133}}
.main-slide .post-meta {
  position: absolute;
  bottom: 30px;
  left: 40px;
  color: white;
  font-weight: 100;
  font-size: 14px;
  opacity: 0.5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_index\.scss}line{font-family:\00003142}}
.main-slide .post-meta p {
  margin-left: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_index\.scss}line{font-family:\00003145}}
.main-slide .post-meta p:before {
  position: absolute;
  top: -3px;
  left: -20px;
  content: "";
  background-image: url("../assets/images/ui/eye.png");
  width: 24px;
  height: 24px;
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_index\.scss}line{font-family:\00003158}}
.main-slide .post .post-content {
  position: relative;
  background-color: white;
  top: 0;
  right: 0;
  height: 100%;
  width: 70%;
  overflow-x: auto;
  float: right;
  opacity: 0;
  padding: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_index\.scss}line{font-family:\00003171}}
.main-slide .post .post-content-active {
  opacity: 0;
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px);
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_index\.scss}line{font-family:\00003177}}
.main-slide .post .post-content p, .main-slide .post .post-content a, .main-slide .post .post-content h1, .main-slide .post .post-content h2, .main-slide .post .post-content h3, .main-slide .post .post-content h4, .main-slide .post .post-content h5, .main-slide .post .post-content h6, .main-slide .post .post-content span {
  color: #2e2e2e;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_index\.scss}line{font-family:\00003180}}
.main-slide .post .post-content p:first-letter, .main-slide .post .post-content a:first-letter, .main-slide .post .post-content h1:first-letter, .main-slide .post .post-content h2:first-letter, .main-slide .post .post-content h3:first-letter, .main-slide .post .post-content h4:first-letter, .main-slide .post .post-content h5:first-letter, .main-slide .post .post-content h6:first-letter, .main-slide .post .post-content span:first-letter {
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_index\.scss}line{font-family:\00003185}}
.main-slide .post .post-content h1 {
  margin: 30px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_index\.scss}line{font-family:\00003188}}
.main-slide .post .post-content h1:first-child {
  margin-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_index\.scss}line{font-family:\00003193}}
.main-slide .post .post-content h2, .main-slide .post .post-content h3, .main-slide .post .post-content h4, .main-slide .post .post-content h5, .main-slide .post .post-content h6 {
  margin: 20px 0 10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_index\.scss}line{font-family:\00003197}}
.main-slide .post .post-content p {
  margin-bottom: 15px;
  line-height: 23px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_index\.scss}line{font-family:\00003201}}
.main-slide .post .post-content p img, .main-slide .post .post-content p iframe, .main-slide .post .post-content p video {
  float: right;
  max-width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_index\.scss}line{font-family:\00003208}}
.main-slide .post .post-content-header h1 {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_index\.scss}line{font-family:\00003212}}
.main-slide .post .post-content-header .post-date {
  font-size: 11px;
  color: #c7c7c7;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_index\.scss}line{font-family:\00003219}}
.main-slide .post .post-content-footer {
  border-top: 1px solid #c7c7c7;
  margin-top: 10px;
  padding-top: 10px;
  color: #c7c7c7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_index\.scss}line{font-family:\00003226}}
.main-slide .post .post-content-footer .author-image {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_index\.scss}line{font-family:\00003232}}
.main-slide .post .post-content-footer .author-name {
  display: inline-block;
  margin-left: 5px;
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  color: #c7c7c7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_index\.scss}line{font-family:\00003238}}
.main-slide .post .post-content-footer .author-name:first-letter {
  text-transform: lowercase;
}

/**
* Generic stuff
*
* @section framework
* @author rkalms
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_generic\.scss}line{font-family:\000038}}
.sprite-test {
  width: 200px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_generic\.scss}line{font-family:\0000314}}
body, html {
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_generic\.scss}line{font-family:\0000318}}
.application-frame {
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_generic\.scss}line{font-family:\0000323}}
.site-wrapper {
  position: relative;
  height: 100%;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_generic\.scss}line{font-family:\0000331}}
h1, h2, h3, h4, h5, h6, p, ul, li, span, a {
  margin: 0;
  font-family: "Lato", Helvetica, sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_generic\.scss}line{font-family:\0000336}}
a {
  text-decoration: none;
  color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_nav\.scss}line{font-family:\000031}}
.nav {
  position: absolute;
  z-index: 999999;
  display: inline-block;
  float: left;
  right: 0;
  top: 0;
  width: 30%;
  height: 100%;
  background-color: #2e2e2e;
  color: white;
  font-size: 18px;
  padding: 100px 10px 50px 40px;
  -moz-box-shadow: inset 5px 0px 10px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 5px 0px 10px 0px rgba(0, 0, 0, 0.4);
  box-shadow: inset 5px 0px 10px 0px rgba(0, 0, 0, 0.4);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_nav\.scss}line{font-family:\0000319}}
.nav a {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_nav\.scss}line{font-family:\0000322}}
.nav a:hover {
  color: #c7c7c7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_nav\.scss}line{font-family:\0000327}}
.nav ul {
  padding: 0;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_nav\.scss}line{font-family:\0000331}}
.nav ul li {
  list-style-type: none;
  margin: 15px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_nav\.scss}line{font-family:\0000338}}
.goToVertic {
  font-size: 14px;
  position: absolute;
  bottom: 20px;
  left: 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_nav\.scss}line{font-family:\0000345}}
.nav-cover {
  height: 100%;
  width: 30%;
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_footer\.scss}line{font-family:\000032}}
.site-footer {
  position: relative;
  height: 13%;
  background-color: white;
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 12px;
  color: #c7c7c7;
  padding: 30px 40px 80px 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_footer\.scss}line{font-family:\0000312}}
.site-footer a, .site-footer p {
  color: #c7c7c7;
  font-size: 12px;
  font-weight: 300;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_footer\.scss}line{font-family:\0000319}}
.site-footer a a:hover, .site-footer p a:hover {
  color: #2e2e2e;
  font-weight: 400;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_footer\.scss}line{font-family:\0000325}}
.site-footer .toggle-footer {
  width: 30px;
  height: 30px;
  position: fixed;
  z-index: 500;
  right: 20px;
  bottom: 10px;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_footer\.scss}line{font-family:\0000334}}
.site-footer .toggle-footer span {
  display: inline-block;
  position: absolute;
  bottom: -2px;
  left: 7px;
  background-color: gray;
  border-radius: 2px;
  width: 2px;
  height: 20px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_footer\.scss}line{font-family:\0000345}}
.site-footer .toggle-footer span:after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: gray;
  border-radius: 2px;
  width: 2px;
  height: 20px;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_footer\.scss}line{font-family:\0000361}}
.copyright {
  display: block;
  width: 100%;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_header\.scss}line{font-family:\000031}}
.main-header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_header\.scss}line{font-family:\0000311}}
.header {
  padding-top: 30px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_header\.scss}line{font-family:\0000316}}
.btn-burger {
  float: right;
  position: relative;
  z-index: 1001;
  width: 20px;
  height: 20px;
  opacity: 0.9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_header\.scss}line{font-family:\0000324}}
.btn-burger span {
  width: 20px;
  height: 3px;
  background-color: white;
  position: absolute;
  top: 0px;
  left: 0;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_header\.scss}line{font-family:\0000333}}
.btn-burger span:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 3px;
  background-color: white;
  position: absolute;
  top: 7px;
  left: 0;
  opacity: 1;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_header\.scss}line{font-family:\0000346}}
.btn-burger span:after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 3px;
  background-color: white;
  position: absolute;
  top: 14px;
  left: 0;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_header\.scss}line{font-family:\0000361}}
.btn-burger-black span, .btn-burger-black span:before, .btn-burger-black span:after {
  background-color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_header\.scss}line{font-family:\0000367}}
.btn-burger-open span {
  top: 10px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_header\.scss}line{font-family:\0000371}}
.btn-burger-open span:before {
  opacity: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/_header\.scss}line{font-family:\0000375}}
.btn-burger-open span:after {
  top: 0px;
  display: inline-block;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/**
* Base variables and function definitions
*
* @section layout
* @author echristensen
*/
/**
* Define breakpoints.
*	They can be used elsewhere, but must be defined here for
*	the sake of layout.
*
* Do not use the layout argument elsewhere.
*/
/* 4 column fixed layout */
@media (min-width: 20.25em) {
  /* create a fixed width centered layout */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_grid\.scss}line{font-family:\0000352}}
  .grid-inner {
    width: 19em;
    margin-right: auto;
    margin-left: auto;
  }

  /* css gradient overlay to help visualize columns */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_grid\.scss}line{font-family:\0000360}}
  body.grid-overlay:after {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    pointer-events: none;
    left: 50%;
    width: 21.5em;
    margin-left: -10.75em;
    z-index: 2000;
    background: -webkit-linear-gradient(left, transparent 20px, rgba(255, 0, 0, 0.1) 20px, rgba(255, 0, 0, 0.1) 61px);
    -webkit-background-size: 81px;
  }
}
/* 6 column fixed layout */
@media (min-width: 30.375em) {
  /* create a fixed width centered layout */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_grid\.scss}line{font-family:\0000352}}
  .grid-inner {
    width: 29.125em;
    margin-right: auto;
    margin-left: auto;
  }

  /* css gradient overlay to help visualize columns */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_grid\.scss}line{font-family:\0000360}}
  body.grid-overlay:after {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    pointer-events: none;
    left: 50%;
    width: 31.625em;
    margin-left: -15.8125em;
    z-index: 2000;
    background: -webkit-linear-gradient(left, transparent 20px, rgba(255, 0, 0, 0.1) 20px, rgba(255, 0, 0, 0.1) 61px);
    -webkit-background-size: 81px;
  }
}
/* 8 column fixed layout */
@media (min-width: 40.5em) {
  /* create a fixed width centered layout */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_grid\.scss}line{font-family:\0000352}}
  .grid-inner {
    width: 39.25em;
    margin-right: auto;
    margin-left: auto;
  }

  /* css gradient overlay to help visualize columns */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_grid\.scss}line{font-family:\0000360}}
  body.grid-overlay:after {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    pointer-events: none;
    left: 50%;
    width: 41.75em;
    margin-left: -20.875em;
    z-index: 2000;
    background: -webkit-linear-gradient(left, transparent 20px, rgba(255, 0, 0, 0.1) 20px, rgba(255, 0, 0, 0.1) 61px);
    -webkit-background-size: 81px;
  }
}
/* 12 column layout with sidebar */
@media (min-width: 60.75em) {
  /* create a fixed width centered layout */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_grid\.scss}line{font-family:\0000352}}
  .grid-inner {
    width: 59.5em;
    margin-right: auto;
    margin-left: auto;
  }

  /* css gradient overlay to help visualize columns */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nnielsen\/Documents\/git\/vertic-labs\/content\/themes\/vertic-labs\/assets\/app\/styles\/modules\/framework\/_grid\.scss}line{font-family:\0000360}}
  body.grid-overlay:after {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    pointer-events: none;
    left: 50%;
    width: 62em;
    margin-left: -31em;
    z-index: 2000;
    background: -webkit-linear-gradient(left, transparent 20px, rgba(255, 0, 0, 0.1) 20px, rgba(255, 0, 0, 0.1) 61px);
    -webkit-background-size: 81px;
  }
}
